.wrapper
  =render 'devise/shared/side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          グループ名
        %ul.left-header__members
          Member：
          %li.member
            メンバー名
          %li.member
            メンバー名
          %li.member
            メンバー名
      .right-header
        .right-header__button
          Edit
    .messages
      .message
        .upper-message
          .upper-message__user-name
            メンバー
          .upper-message__date
            2017/04/04
        .lower-meesage
          .lower-message__content
            メッセージ
      .message
        .upper-message
          .upper-message__user-name
            メンバー
          .upper-message__date
            2017/04/04
        .lower-meesage
          .lower-message__content
            メッセージ
      .message
        .upper-message
          .upper-message__user-name
            メンバー
          .upper-message__date
            2017/04/04
        .lower-meesage
          .lower-message__content
            メッセージ
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'




-# .contents
-#   .contents__left
-#     = render 'devise/shared/side_bar'

-#   .contents__right
-#     .contents__right__top
-#       .contents__right__top-left
-#         .contents__right__top-left-group-name
-#           tech
-#         .contents__right__top-left-member
-#           Member：
-#           .contents__right__top-left-member-name
-#             kentaro
-#       =link_to "", class: "" do
-#         .contents__right__top-edit
-#           = link_to edit_user_path(current_user) do
-#             edit
-#     .contents__right__chat-space
-#       .contents__right__chat-space-user-chat
-#         .contents__right__chat-space-user-chat-name
-#           kentaro
-#         .contents__right__chat-space-user-chat-time
-#           2019/10/5(sat) 10:05:00
-#         .contents__right__chat-space-user-chat-chat
-#           こんにちは
-#       .contents__right__chat-space-member-chat
-#         .contents__right__chat-space-member-chat-name
-#           kentaro
-#         .contents__right__chat-space-member-chat-time
-#           2019/10/5(sat) 10:05:00
-#         .contents__right__chat-space-member-chat-chat
-#           こんにちは
-#     .contents__right__bottom
-#       .contents__right__bottom-box
-#         .contents__right__bottom-box-text
-#           type a message
-#           .contents__right__bottom-box-text-icon
-#             %label
-#               = fa_icon 'image'
-#               = file_field :image, :fine_name ,class: "contents__right__bottom-box-text-icon-select" 
-#         .contents__right__bottom-box-text-send
-#           Send


